
select {
    /* Reset */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 24em;
    height: 4.1em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: #320a28;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  select option {
    color: inherit;
    background-color: white;
  }
  select:focus {
    outline: none;
  }
  select::-ms-expand {
    display: none;
    outline:none;
  }
  
  input {
    /* Reset */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 24.5em;
    height: 44em;
    
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: #320a28;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
  }